# Exclude build directories
Debug/
Release/

# Exclude debug directories
simple/Debug/

# Exclude visual studio specific user files
*.suo
*.user
*.sdf
*.opensdf
simple.sdf

# Exclude other directories
ipch/